.brizy-licenses {
    .badge-success {
        background-color: #71c43a;
    }
}

.brizzy-add-multiple-licenses-modal {
    textarea {
        resize: vertical;
    }
}

.actions {
    span {
        margin: 2px;
    }
}
