
$m2-primary: (
    50 : #e5e5f8,
    100 : #bfbeee,
    200 : #9592e2,
    300 : #6a66d6,
    400 : #4a46ce,
    500 : #2a25c5,
    600 : #2521bf,
    700 : #1f1bb8,
    800 : #1916b0,
    900 : #0f0da3,
    A100 : #ebeeff,
    A200 : #b8c4ff,
    A400 : #8599ff,
    A700 : #6b84ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$m2-accent: (
    50 : #fef5ff,
    100 : #fee6ff,
    200 : #fdd5ff,
    300 : #fcc4ff,
    400 : #fbb8ff,
    500 : #faabff,
    600 : #f9a4ff,
    700 : #f99aff,
    800 : #f891ff,
    900 : #f680ff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$m2-error: (
    50 : #fbe7ea,
    100 : #f5c3cb,
    200 : #ef9ba8,
    300 : #e97285,
    400 : #e4546a,
    500 : #df3650,
    600 : #db3049,
    700 : #d72940,
    800 : #d22237,
    900 : #ca1627,
    A100 : #ffffff,
    A200 : #ffe1e8,
    A400 : #ffaec1,
    A700 : #ff95ad,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
