
.templates-container {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .title {
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: bold;
    }

    .templates-filter {
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 15px;
        justify-content: center;
        background-color: #fff;
        .categories {
            display: flex;
            gap: 15px;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;

            .category-select {
                cursor: pointer;
                transition:cubic-bezier(0.86, 0, 0.07, 1);
                &:hover, &.selected{
                    color: #000;
                    text-decoration: underline;;
                }
            }
        }
    }

    .templates {

        display: flex;
        flex-direction: row;
        gap: 15px;
        justify-content: center;
        flex-wrap: wrap;
        max-height: 850px;
        overflow-y: auto;

        .template {
            width: calc(50% - 7.5px);
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 5px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            transition:400ms cubic-bezier(0.075, 0.82, 0.165, 1);
            position: relative;

            .selected-badge {
                position: absolute;
                top: 15px;
                right: 15px;
                border: 1px solid #95c488;
                border-radius: 5px;
                padding: 2px 5px;
                background-color: #a3ff89;
                color: #4d4d4d;
            }

            &.selected {
                background-color: #a3ff89;
                border-color: #95c488;
                &:hover {
                    background: #95c488;
                }

            }

            &:hover {
                background: #d7d7d7;
                .img-preview img {
                    filter: grayscale(1);
                }
                .actions {
                    opacity: 1;
                }
            }

            .img-preview {
                img {
                    max-width: 100%;
                    border-radius: 5px;
                }
            }

            .title {
                text-align: center;;
                font-weight: bold;;
            }

            .actions {
                transition:400ms cubic-bezier(0.075, 0.82, 0.165, 1);
                opacity: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                display: flex;
                flex-direction: column;
                gap: 15px;
                flex-wrap: wrap;
                justify-content: center;
                padding: 15px;
                border-radius: 15px;
                background: #fff;
                box-shadow: 5px 5px 5px #aaa;
                border: 1px solid #ccc;

            }


        }
    }
}
